.MovieContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 400px;
    align-items: center;
}

.MovieImageContainer {
    width: 125px;
}

.MovieImageContainer img {
    min-width: 123px;
    max-width: 125px;
}

.ReviewRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem 0;
}

.MovieTitle {
    font-weight: bold;
    margin: 0.5rem 0;
}

.MovieDate, .Reviews {
    margin: 0.25rem 0;
    font-style: italic;
    color: rgba(242, 210, 189, 0.75);
}

.MovieCopyContainer {
    max-width: 720px;
}

.Overview, .MovieDate, .Reviews {
    font-size: 12px;
}